/* External stylesheet */
h3{
    margin: 30px;
    padding: 40px;
    text-align: center;
    color:brown ;
     background-color :rgb(60, 248, 23);
     border-style: dashed;
     border-radius: 20%;
}

body {
    background-color: rgb(168, 166, 176);
}
h4{
    margin: 30px;
    padding: 40px;
   color: rgb(231, 241, 241);
   background-color: rgb(65, 65, 192); 
   border-style:solid;
   text-align: center;
   border-radius: 35%;
}