/* External stylesheet */
h3{
    color:brown ;
     background-color :rgb(60, 248, 23);
}

body {
    background-color: rgb(67, 38, 255);
}
h4{
   color: rgb(237, 31, 24);
   background-color: rgb(0, 0, 0); 
}